<div class="card mb-6">
    <header class="card-header card-header-title has-background-yellow">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
            <a href="/post/{{id}}"  class="has-text-black is-capitalized is-pulled-left">{{title}} </a></p>
        </div>    
    </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
        <div class="is-pulled-right">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{Comments.length}} {{format_plural "comment"Comments.length}}</a>
        </div>
     </div>   
</div>